body {
  padding: 50px;
}
.container-layout {
  width: 1280px;
  height: 720px;
  border: 2px solid;
  display: flex;
  flex-direction: column;
}
.chart{
  height: 100%;
  margin: 10px 10px;
  border: 1px solid;
}
.title-bar {
  height: 80px;
  padding: 20px 50px;
  border-bottom: 1px solid;
  background-color: rgba(48, 139, 175, 0.836);
}
.group-button {
  display: flex;
  flex-direction: row;
}
.group-button__item {
  margin: 5px 10px;
}
